<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90271006087-c9b6qs109mafaovd3pprv3f6ch9dttpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90271006087-c9b6qs109mafaovd3pprv3f6ch9dttpe</string>
	<key>API_KEY</key>
	<string>AIzaSyB6I-doC3re8wKFeDfF58lS0_NY09goF_o</string>
	<key>GCM_SENDER_ID</key>
	<string>90271006087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTraining1</string>
	<key>PROJECT_ID</key>
	<string>flutter-training-c9051</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-training-c9051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90271006087:ios:ad7875e886a28f6936e722</string>
</dict>
</plist>